# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
release/
backups/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
!.env.example

# Editor & IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Platform Deployments
.vercel/
.wrangler/

# RhineLab & 3D / Modeling specific
public/fonts/novecento/
art/.cache/
*.blend1
__pycache__/
*.pyc
